//- extends layout

//- //- block content
//- //-   h1= title
//- //-   //- - const umbrella = ['umbrella_type','color','cost']
//- //-   - let umbrella  = results;
//- //-   script.
//- //-     function buy(x){
//- //-       alert('Purchased Item: ' + x)
//- //-    } 
//- //-   div(class='container-fluid')
//- //-     div(class='row')
//- //-       each results, index in umbrella
//- //-         div(class='col-sm-2' onclick='buy('+index+')') #{results}



//- block content
//-   h1= title

//-   - let items = results; 

//-   - let o;
//-   script.
//-     function buy(x){
//-       alert('Purchased Item: ' + x)
//-    } 
//-   div(class='container-fluid')
//-     div(class='row')
//-       each o, index in items 
//-         div(class='col-sm-3' onclick='buy('+index+')') #{o} 

extends layout

block content
  div(class="row m-2")
  h1(class="col-sm-10")= title
  a(href = "umbrella/create" class="btn bg-primary text-white col-sm-2") Create
  |  

  - const umbrella = ['umbrella_type','color','cost']
  //- let items = [] 
  - let items = results; 
  - let o;
  script.
    function buy(x){
      alert('Purchased Item: ' + x)
   } 

  div(class='container-fluid')
    div(class="d-flex justify-content-end")

    div(class="p-3 mb-2 bg-primary text-white row")
      each item in umbrella 
        div(class="col-sm-2") #{item} :

    
    each o, index in items
      div(class="card text-danger bg-success mb-3" class='col' class='card' class='card-body' class='card-text' onclick='buy('+index+')') #{o}
        
          div(class='col-sm-2') #{o.umbrella_type}
          div(class='col-sm-2') #{o.color}
          div(class='col-sm-2') $ #{o.cost}
          div(class='col-sm-6')
            //- div(class='col-sm-3' onclick='buy('+index+')') #{o} 
            a(href = "umbrella/detail/?id=" + o._id)    detail --
            a(href = "umbrella/update/?id=" + o._id)    update --
            a(href = "umbrella/delete/?id=" + o._id)    delete      