extends layout
block content
 h1= title
 if (toShow == null)
   h2 No instance to delete
 else
  - let umbrellaid = toShow._id
  - let umbrella_type = toShow.umbrella_type
  - let umbrellacolor = toShow.color
  - let umbrellacost = toShow.cost
  - let actionid = "/resource/umbrellas/" + umbrellaid
  script let actionid = "#{actionid}"
  div
    div.row
     div(class='umbrellaAttr mr-3') umbrella ID is:
     div #{umbrellaid}
    div.row
     div(class='umbrellaAttr mr-3') umbrella Type is:
     div #{umbrella_type}
    div.row
     div(class='umbrellaAttr mr-3') umbrella height is:
     div #{umbrellacost}
    div.row
     div(class='umbrellaAttr mr-3') umbrella price is:
     div #{umbrellacolor}
 button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
 button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
 script.
  function cancel() {
  // Go back to the home page for the umbrella collection
  window.location.href='/umbrellas'
  }
 script.
  function deleteOnid() {
   console.log("starting delete")
   // delete first
   fetch(actionid, {
   method: 'DELETE' // Don't need a body for the delete
   }).then((resp) => {
   return resp.json(); // or resp.text() or whatever the server sends
   }).then((body) => {
   alert("Delete succeded")
   window.location.href='/umbrellas'
   // TODO handle body
   }).catch((error) => {
   // TODO handle error
   alert("Delete failed " + error )
   });
  }