block content
  h1= title

  - let items = results; 

  - let o;
  script.
    function buy(x){
      alert('Purchased Item: ' + x)
    } 
  div(class="container-fluid") 
    div(class="row m-1") 
      each item in items  
        - let destination = `dispatch(\"/umbrella/update?id=${item._id}\")` 
        div(class="row-sm-2" class="m-1") Item #{item.umbrella_type}(#{item.color}) is #{item.cost} 
          button.btn( class="btn-primary ml-1", onclick= destination) Update 
          button.btn( class="btn-primary ml-1", onclick= destination) create 
          button.btn( class="btn-primary ml-1", onclick= destination) delete 
          button.btn( class="btn-primary ml-1", onclick= destination) detail 
script. 
  function dispatch(path){ 
    window.location.href=path 
  }